#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
ifneq ($(DEB_HOST_GNU_TYPE),$(DEB_BUILD_GNU_TYPE))
CROSS= --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
else
CROSS= --build $(DEB_BUILD_GNU_TYPE)
endif

include /usr/share/quilt/quilt.make

config.status: configure
	dh_testdir
	./configure

build: build-stamp

# The following reuses the Doxygen configuration provided with the
# package to regenerate the API documentation. The current state of
# affairs is kludgey, but I will work around this by requesting
# upstream to make the document generation part of the build process,
# like in the libitpp package.

build-docs-stamp:
	mkdir -p debian/doc_gen # temporary documentation configurations places here.
	cp build_aux/doxygen/doxygen.config build_aux/doxygen/main.doxy debian/doc_gen
	echo -e "\nOUTPUT_DIRECTORY       = debian/tmp/usr/share/doc/libarmadillo-doc\n" >> debian/doc_gen/doxygen.config
	doxygen -u debian/doc_gen/doxygen.config
	mkdir -p debian/tmp/usr/share/doc/libarmadillo-doc/docs_tech
	doxygen debian/doc_gen/doxygen.config
	touch $@

build-stamp: config.status patch
	dh_testdir
	cmake -D CMAKE_INSTALL_PREFIX_INITIALIZED_TO_DEFAULT:BOOL=ON  . # specified to install to the debian/tmp directory.
	$(MAKE)
	touch $@

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp build-docs-stamp
	rm -rf debian/doc_gen
	[ ! -f Makefile ] || $(MAKE) clean
	rm -f config.guess config.sub Makefile docs_tech/*
	(cd build_aux;sh cleanup.sh)
	rm -f CMakeCache.txt cmake_install.cmake
	rm -rf CMakeFiles
	rm -f src/include/armadillo_bits/config.hpp install_manifest.txt
	rm -f include/armadillo_bits/config.hpp examples/Makefile
	dh_clean  --exclude ./src/include/armadillo_bits/dgemm_proto.hpp.orig

install: build
	dh_testdir
	dh_testroot
	dh_clean --exclude ./src/include/armadillo_bits/dgemm_proto.hpp.orig
	dh_installdirs
	$(MAKE) prefix=$(CURDIR)/debian/tmp/usr install DESTDIR=debian/tmp

binary-indep: build install build-docs-stamp 
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i
	dh_installdocs -i
	dh_install -i
	dh_installman -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a
	dh_installdocs -a
	dh_installexamples -a
	dh_install -a --sourcedir=debian/tmp
	dh_installman -a
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
